/* ===== CONTAINER ===== */
.content{
  max-width:900px;
  margin:auto;
}

/* ===== CARD SOAL ===== */
.question-card{
  background:var(--card);
  padding:28px;
  border-radius:16px;
  box-shadow:var(--shadow);
  margin-bottom:20px;
}

.question-number{
  font-size:14px;
  opacity:.7;
  margin-bottom:10px;
}

#question{
  font-size:18px;
  line-height:1.6;
}

/* ===== OPTIONS ===== */
.options{
  margin-top:20px;
  display:flex;
  flex-direction:column;
  gap:12px;
}

.options button{
  padding:14px 16px;
  border-radius:10px;
  border:none;
  background:var(--bg-secondary);
  color:#fff;
  cursor:pointer;
  transition:.2s;
  font-size:15px;
}

.options button:hover{
  transform:translateY(-1px);
  background:#1e2d4a;
}

.options button.active{
  background:var(--accent);
  color:white;
  font-weight:500;
}

/* ===== NAV BUTTON ===== */
.nav-buttons{
  display:flex;
  justify-content:space-between;
  margin-top:25px;
}

.nav-buttons button{
  padding:10px 20px;
  border:none;
  border-radius:8px;
  background:var(--accent);
  color:white;
  cursor:pointer;
}

/* ===== GRID NOMOR ===== */
.number-grid{
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(42px,1fr));
  gap:10px;
}

.number-grid div{
  background:var(--card);
  padding:10px;
  text-align:center;
  border-radius:8px;
  cursor:pointer;
  font-size:14px;
}

.number-grid div:hover{
  background:#1e2d4a;
}

.number-grid .done{
  background:var(--accent);
}
